.banner {
    background-image: url("../../Assets/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 30, 76, 0.629);
    background-blend-mode: overlay;
    background-position: center;
}
.title {
    position: relative;
}
.title::after {
    content: "";
    position: absolute;
    right: -115px;
    width: 108px;
    height: 33px;
    background-color: #29b88c;
    top: 8px;
}
